---
import { Image } from "astro:assets"
import image from "../assets/images/profile.jpeg"

const title = "Carlos Moreno Villodre"
const subtitle = "Frontend Developer"
---

<div class="personal-data">
  <Image
    alt="Personal Image"
    class="personal-data__image"
    width="250"
    height="250"
    loading="eager"
    src={image}
  />
  <h1 class="personal-data__title">
    {title}
  </h1>
  <h2 class="personal-data__subtitle">
    {subtitle}
  </h2>
</div>

<style lang="scss">
  .personal-data {
    width: 100%;

    &__image {
      border-radius: 100%;
      width: 75%;
      max-width: 250px;
    }

    &__title,
    &__subtitle {
      margin: 1rem 0;
    }
  }
</style>
